@model Cellulare

<h1>ACQUISTO CONFERMATO</h1>
<h2>
	<div>
		@Html.LabelFor(item=>item.Vendor)
		<div>
			@Html.LabelFor(item=>item.Vendor)
		</div>
	</div>
	<div>
		@Html.LabelFor(item=>item.Model)
		<div>
			@Html.DisplayFor(item => item.Model)
		</div>
	</div>

</h2>
